
<div>
  <div class="jumbotron" style="margin: 25px">
      <h2 style="text-align: center;padding-top: 5%">Register</h2>
      <p style="text-align: center">Enter the valid E-mail address and the password!</p>
      <form action="">
        <div class="container">
          <p style="text-align: center;padding: 20px">
          E-mail <input type="text" name="email" placeholder="Email address" email required style="padding-right: 60px;margin-left: 80px"></p>
          <p style="text-align: center;padding-bottom: 20px">
            Reconfirm E-mail <input type="text" name="email" placeholder="Confirm email address" email required style="padding-right: 60px;margin-left: 5px" ></p>
              </div>
         <div class="container">
          <p style="text-align: center">
         Password <input type="text" name="email" placeholder="Password" required style="padding-right: 60px;margin-left: 55px;margin-bottom: 20px"> <br>
          <button class="btn btn-primary" style="margin-top: 20px"> Register</button></p>          
        </div>
      </form>
  </div>
</div>